body {
	margin-top: 0px;
}

.container {
	margin-top: 20px;
}

.header {
	height: calc(60vh);
	width: 100%;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a9/Ronnie_O%E2%80%99Sullivan_at_Snooker_German_Masters_(DerHexer)_2015-02-05_02.jpg");
	background-size: cover;
	background-position: center center;
}

.row {
	margin-top: 20px;
}

.product_list {
	margin-bottom: 16px;
}

.desc {
	/* min-height: 80px; */
}

.thumb {
	/* max-height: 240px; */
	margin: 0 auto;
}
