body {
	margin-top: 0px;
}

.container {
	margin-top: 20px;
}

.header {
	height: calc(60vh);
	width: 100%;
	background-image: url("http://media.gq.com/photos/56420ddb6ff00fb522b06ccb/16:9/pass/usain-bolt.jpg");
	background-size: cover;
	background-position: top center;
}

.row {
	margin-top: 20px;
}

.product_list {
	margin-bottom: 16px;
}

.desc {
	min-height: 80px;
}

.thumb {
	max-height: 240px;
	margin: 0 auto;
}
